<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="lidar_external" params="robot_name">
    <link name="velodyne">
      <collision><origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="file://$(find go2_description)/meshes/Vlp16.dae" scale="1 1 1"/></geometry></collision>
      <visual><origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="file://$(find go2_description)/meshes/Vlp16.dae" scale="1 1 1"/></geometry></visual>
    </link>
    <joint name="velodyne_joint" type="fixed">
      <origin xyz="0.22 0 0.09" rpy="0 0 0"/>
      <parent link="base_link"/><child link="velodyne"/>
    </joint>
    <joint name="velodyne_imu_joint" type="fixed">
      <parent link="velodyne"/><child link="velodyne_imu"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
    <link name="velodyne_imu">
      <inertial><mass value="0.001"/><origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/></inertial>
      <visual><origin rpy="0 0 0" xyz="0 0 0"/><geometry><box size="0.001 0.001 0.001"/></geometry></visual>
      <collision><origin rpy="0 0 0" xyz="0 0 0"/><geometry><box size=".001 .001 .001"/></geometry></collision>
    </link>
    <gazebo reference="velodyne">
      <sensor name="velodyne" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose><visualize>false</visualize><update_rate>10</update_rate>
        <lidar>
          <scan><horizontal><samples>640</samples><resolution>1</resolution>
            <min_angle>-3.141592653589793</min_angle><max_angle>3.141592653589793</max_angle></horizontal>
            <vertical><samples>16</samples><resolution>1</resolution>
            <min_angle>-0.2617993877991494</min_angle><max_angle>0.2617993877991494</max_angle></vertical></scan>
          <range><min>0.3</min><max>131</max><resolution>0.001</resolution></range>
        </lidar>
        <topic>/${robot_name}/velodyne</topic><gz_frame_id>velodyne</gz_frame_id>
      </sensor>
    </gazebo>
    <gazebo reference="velodyne_imu">
      <gravity>false</gravity>
      <sensor name="velodyne_imu" type="imu">
        <always_on>true</always_on><update_rate>100</update_rate><visualize>false</visualize>
        <topic>/${robot_name}/velodyne_imu</topic>
        <plugin filename="libgz-sim-imu-system.so" name="gz::sim::systems::Imu"/>
        <pose>0 0 0 0 0 0</pose><gz_frame_id>velodyne_imu</gz_frame_id>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
